.continue-btn{
    height: 3em;
    width: 50%;
    border-radius: 2em;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 1.7em;
}

.welcome-btn-foot{
    justify-content: flex-end;
}

.btn-foot{
    height: 3.7em;
    border-top: 1px solid $whitecolor ;
    background-color:  $maincolor;
    display: flex;
    align-items: center;
    
    
}

.bk-btn{
    display: flex;
    align-items: center;
}

