.welcome-pg-btn{
    height: 3em;
    width: 50%;
    border-radius: 2em;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 1.7em;
}

.btn-foot{
    height: 3.5em;
    border-top: 1px solid $whitecolor ;
    background-color:  maincolor;

}