




.departure-location{
    height: 80%;
}
.deapture-list{
    
    
    //background-color: red;
    font-size: 1.7em;
    padding-top: 1em;
   
}

.citys-bottom-half{
    
    
    flex-direction: column;
    justify-content: space-between;
  //  background-color: royalblue;
    
    height: 100%;
    
}

.list-box{
    height: 100%;
    overflow: scroll;
}



