.departure-location{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-box{
    height: 100%;
}

.bottom-half{
    display: flex;
    flex-direction: column;
    height: 80%;
    
}


.list-main{

    flex-grow:2;
    display: flex;
    flex-direction: column;
    
    padding-top: 2em;
    
    overflow: scroll;
    height: 10em;

    font-size: 1.7em;
    
    
    
    
    }
    