.order-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .order-inner-container{
        display: flex;
        flex-direction: column;
        
        padding-bottom: 0;
        height: 100%;
       
    }

    .main{

        flex-grow: 2;
        display: flex;
        flex-direction: column;
        //justify-content: space-between ;
        padding-bottom: 0em;
        //background-color: indigo;
        
        
        
        
        }

        .direction{
            width: 100%;
            //background-color: $lightcolor;
            margin: 1em 0;
        }

        .cost{
            display: flex;
            justify-content: center;
        }

        .order+.order{
            margin-top: 0.3em;
        }

        .total{

            margin-top: 4em;
            background-color: $lightcolor;
            border-top: 1px dotted $whitecolor;
            border-bottom: 1px dotted $whitecolor;
        }
    

       .vehical-name {
           background-color: $lightcolor;
           margin-bottom:0 ;
       }
}


.vehical-img{


    height: 100%;
    //background-color: $lightcolor;
    
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top: solid 1px $whitecolor;
    // border-bottom: solid 1px $whitecolor;

  //  border: solid $whitecolor 1px;

  .product-image{
      height: 3em;
  }
}

