.welcome-page{
    height: 100%;
}

.welcome-message{
    height: 20%;
}

.page{
    height: 80%;
   // background-color: hotpink;
    display: flex;
    flex-direction: column;
}

.head{
   // background-color: rgb(17, 255, 17);
    height: auto;
}

.main{

    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    padding-bottom: 2em;
    //background-color: indigo;
    
    
    
    
    }

.welcome-pg-btn{
    height: 5em;
}


