*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hidden{
    display: none;
}

.btn-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.running-info-update{
    background-color: grey;
}

.btn-foot{
    background-color: green;
}

.liveUpdate{
    width : 100%;
}
.running{
    display: flex;
    justify-content: space-between;
}

.order{
    display: flex;
    justify-content: space-between;
}
.order-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction{
    background-color: red;
}

.flatpickr-calendar{

    background-color:0;
    background-color:red;
}
